<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false)
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand logo" href="#"><img src="~/Content/Images/Brand2.png" alt="img"></a>
                @Html.ActionLink("DT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>
    @RenderBody()
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Al.Hot</p>
        </footer>
    </div>

    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/myscripts")
    @RenderSection("scripts", required: false)
</body>
</html>
